# Dependencies
/node_modules

# Production
/build
/dist
/.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firestore-debug.log*

# Environment variables
.env
.env.local

# Service Account Keys
serviceAccountKey.json

# Build artifacts
.tsbuildinfo
next-env.d.ts
tsconfig.tsbuildinfo

# BFG
bfg.jar
.git.bfg-report/
